* {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
    /* font size root */
    font-size: 12px;
}

/* the following adjusts according to the root */
h1 {
    /* 21px */
    font-size: 1.8rem; 
}

h2 {
    /* 18 px */
    font-size: 1.5rem;
}

    /* 15px */
h3 {
    font-size: 1.25rem;
}

.no-border:focus {
   outline: none!important;
   border:0!important;
}

a.edit_user:not([href]) {
    color: #007bff;
    cursor: pointer;
}

.product-card {
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0,0,0,.3);
}

a {
    color: black;
    text-decoration: none !important;
    cursor: pointer;
}

card-title {
    color: black;
}

.circle {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.user-photo {
    max-width: 80px;
}

#landing {
    min-height: 50vh;
}